body {
    background-image: url("./images/cafe_wallpaper.jpg");
    background-size: contain;
}

main{
    background-color: rgba(237, 217, 168, 0.5);
}


/* footer {
    position: fixed;
    bottom: 0;
    width: 100%;
} */
